<div class="hero">
<div class="hero-inner">
<h1>Rate and review Places</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, veritatis, neque, adipisci assumenda doloribus quaerat minima optio suscipit nihil earum quidem sint tempora culpa pariatur delectus cupiditate voluptate aspernatur dignissimos.</p>
<div class="search-bar">
  <div class="search-item">
	  <div class="search-and-submit control-group">
			  <%= form_for :location, :url => new_location_path() do |f| %>
		    <%= text_field_tag :location_search, nil, class: "span12 search-query", type: "search", placeholder: "Search for establishment, hotel, restaurant, city, etc" %>
		    <div class="clear-search">
		    <a href="">&#10799;</a>
        <input type="submit" value="Search">
    </div>
    </div>
 			<% end %>
    </div>
  </div>
</div>
</div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<script type="text/javascript">	
<!--
	// Address Autocomplete
	var input = document.getElementById('location_search');
	var autocomplete = new google.maps.places.Autocomplete(input);
	
	// Autocomplete Listener
	google.maps.event.addListener(autocomplete, 'place_changed', function() {
		alert('alert');
		place = autocomplete.getPlace();
		
		//document.getElementById("location_lat").value = place.geometry.location.lat();
		//document.getElementById("location_lng").value = place.geometry.location.lng();

		var address = '';
		if (place.address_components) {
		  address = [(place.address_components[0] &&
		              place.address_components[0].short_name || ', '),
		             (place.address_components[1] &&
		              place.address_components[1].short_name || ', '),
		             (place.address_components[2] &&
		              place.address_components[2].short_name || '')
		            ].join(' ');
		}

		//rating from google: place.rating
		alert('<div><strong>' + place.name + '</strong> (rating: ' + place.rating + ')<br>' + address);
		
		
	}); 	
	
-->
</script>

<div class="wrapper">
	<div class="cards">
		<div class="card">
			<div class="card-header">
			<div class="legend-indicator">
			  <span>1</span>
			</div>

				 <div class="rating">Member Rating &#x2605; &#x2605; &#x2605; &#9734; &#9734;<button>Add Rating</button></div>								
			</div>
			<div class="card-content">  		
					<div class="card-image"></div>
						<h5>Legal Seafoods, <span>Boston Harbor</span></h5>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem explicabo possimus qui nesciunt. Ipsa, tempora, et mollitia quam dolores magnam temporibus necessitatibus quisquam ad repellendus natus facere voluptates quasi commodi.</p>

						<div class="other-ratings">
							<a href="" class="google">Google &#x2605; &#x2605; &#x2605; &#9734; &#9734;</a>
							<a href="" class="yelp">Yelp &#x2605; &#x2605; &#x2605; &#9734; &#9734;</a>
						</div>

			</div>

		</div>
	
	</div>
</div>
