<div class="hero">
<div class="hero-inner">
<h1>Rate and review Places</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, veritatis, neque, adipisci assumenda doloribus quaerat minima optio suscipit nihil earum quidem sint tempora culpa pariatur delectus cupiditate voluptate aspernatur dignissimos.</p>
<div class="search-bar">
  <div class="search-item">
	  <div class="search-and-submit control-group">
			<%= form_for(@location, html: { class: "form-horizontal" }) do |f| %>
		    <%= text_field_tag :location_search, nil, class: "span12 search-query", type: "search", placeholder: "Search for establishment, hotel, restaurant, city, etc" %>
		    <div class="clear-search">
		    <a href="">&#10799;</a>
        <input type="submit" value="Search">
    </div>
    </div>
 			<% end %>
    </div>
  </div>
</div>
</div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<script type="text/javascript">	
<!--
	// Address Autocomplete
	var input = document.getElementById('location_search');
	var autocomplete = new google.maps.places.Autocomplete(input);
-->
</script>

<div class="wrapper">
	<div class="cards">
		<div class="card">
			<div class="card-header">
				<p>Hotell</p> <div class="rating">Member Rating &#x2605; &#x2605; &#x2605; &#9734; &#9734;<button>Add Rating</button></div>								
			</div>
			<img src="" alt="">
			<h1>Legal Seafoods</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident. Similique, quibusdam inventore necessitatibus perspiciatis voluptatum error dolor eaque exercitationem fugit.</p>
			<div class="other-ratings">
				<p>Google &#x2605; &#x2605; &#x2605; &#9734; &#9734;</p>
				<p>Yelp &#x2605; &#x2605; &#x2605; &#9734; &#9734;</p>
			</div>

		</div>
	
	</div>
</div>
