/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-star-rating
*/

@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'normalize';

@import "variables";
@import "extends/base";
@import "mixins/base";
@import "typography";
@import "forms";
@import "tables";
@import "lists";
@import "flashes";

.wrapper {
  @include outer-container;
}

//////////////////////////////////////////////////////////////////////////////////////////////////

header.navigation {
  $navigation-background: $dark-gray;
  $navigation-color: white;
  $navigation-height: 60px;

  width: 100%;
  margin: 0;
  height: $navigation-height;
  background-color: $navigation-background;

  .menu-wrapper {
    @include outer-container;
  }

  .logo {
    // padding: 0 20px;
    font-weight: bold;
    float: left;
    line-height: $navigation-height;
    color: white;
  }

  p {
    padding-right: 1em;
    display: block;
    float: right;
    margin: 0;
    line-height: $navigation-height;
    color: $navigation-color;
  }

  &:hover {
    .nav ul {
      display: block;
    }
  }

  .nav {
    ul {
      display: none;
      -webkit-transform-style: preserve-3d; // stop webkit flicker
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
      width: 100%;

      li {
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 1em;
        line-height: $navigation-height;
        width: 100%;
        position: relative;
        display: block;
        z-index: 99999999;
        overflow: hidden;
        background-color: $navigation-background;

        a {
          text-transform: uppercase;
          font-weight: bold;
          color: white;
        }
      }
    }
  }

  @include media ($medium-screen) {
    p {
      display: none;
    }
    .nav {
      float: right;

      ul {
        display: block;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          display: inline;
          text-decoration: none;
          line-height: $navigation-height;
          padding-right: 1em;
        }
      }
    }
  }
}


//////////////////////////////////////////////////////////////////////////////////////////////////

.hero {
  $hero-background: lighten($base-border-color, 10);  

  background-color: $hero-background;
  padding-bottom: 4em;
  margin-bottom: 2em;

  .hero-inner {
    // @include outer-container;
    @include clearfix;
    @extend .wrapper;
    // padding: 1em;
    margin: auto;

    h1 {
      text-align: center;
      margin: 1em;
    }

    p {
      text-align: center;
      max-width: 50%;
      margin: auto;
      margin-bottom: 3em;
    }

    button {
      @include button(simple, $base-accent-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      

      @include media($medium-screen) {
        @include span-columns(6);
      }
      
      h6 {
        margin-bottom: 2em; 
      }
    }

    .hero-image {
      @include media($medium-screen) {
        @include span-columns(6);
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////

.search-bar {
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10);
  
  @include clearfix;
  max-width: 80%;
  margin: auto;
  border: $search-bar-border;
  background-color: $search-bar-background;
  border-radius: $base-border-radius;
  padding: 0.5em;
  margin-bottom: 1em;

  .search-item {
    @include span-columns(12);
    position: relative; 
  }

  input {
    @include box-sizing(border-box);
    display: block;
  }

  div.search-and-submit {
    position: relative;

    input[type=search] {
      width: 100%;
      padding: 1em;
      font-style: italic;
      border-radius: $base-border-radius*2;
      top: 0;
      left: 0;
      margin: 0;
    }

    input[type=submit] {
      @include button(simple, lighten($light-gray, 10));
      font-size: $base-font-size;
      color: darken($light-gray, 20);
      outline: none;
      position: absolute;
      right: 0.3em;
      top: 0.3em;
      bottom: 0.3em;
    }
  }  
}

//////////////////////////////////////////////////////////////////////////////////////////////////

.cards {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-color: lighten($card-border-color, 10);
  $card-header-color: $card-color;
  $card-hover-color: darken($card-color, 5);

  @include clearfix;
  cursor: pointer;
  margin-bottom: 1em;

  .card {
    // height: 190px;
    border: $card-border;
    background-color: $card-color;
    border-radius: $base-border-radius;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      
    }

    .card-header {
      @include clearfix;
      background-color: $card-header-color;
      border-bottom: $card-border;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      font-weight: bold;
      padding: $space;

      button {
        font-size: 12px;
        margin-left: $space;
      }

      p {
        padding: 0;
        margin: 0;
        float: left;
      }
      .rating {
        font-weight: 300;
        float: right;
      }
    }

    img {

    }

    h1 {
      padding: $space;
      font-size: $base-font-size;
    }

    p {
      padding: 0 $space;
      overflojknw: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    h3 {
      font-weight: 800;
    }

    &:hover {
      background-color: $card-hover-color;
      .card-header {
        background-color: $card-hover-color;
      }
    }

    &:active {
      background-color: $card-color;
      .card-header {
        background-color: $card-color;
      }
    }
  }
}

